<h1>Editando: {{user.name}}</h1>
<form action="/users/create " method="POST" class="form">
    <input type="hidden" name="id" value="{{user.id}}">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do usuario" value="{{user.name}}">
    </div>
    <div class="form-control">
            <label for="ocupation">Profissao:</label>
            <input type="text" name="ocupation" placeholder="Digite a profissao do usuario" value="{{user.ocupation}}">
    </div>
     <div class="form-control form-checkbox">
        {{#if user.newsletter}}
        <input type="checkbox" name="newsletter" checked>
        {{else}}
        <input type="checkbox" name="newsletter">
        {{/if}}
        <label for="newsletter">Enviar promoçoes?</label>
    </div>
    <input type="submit" value="Editar">
</form>